<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Eventos - Home</title>
    <script src="http://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-700 text-white p-6 text-center">
        <h1 class="text-3xl font-bold">Bem vindo a Evento+</h1>
        <p>Organizando momentos inesquecíveis para você!</p>
        <div class="my-3">
            <a class="text-lg hover:underline mx-2" href="#">Home</a>
            <a class="text-lg hover:underline mx-2" href="#">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="#">Contato</a>
            <a class="text-lg hover:underline mx-2" href="#">Portfólio</a>
        </div>
    </header>
    
    <section class="container min-h-[80vh] mx-auto mt-4 gap-6 grid grid-cols-1">
        <h2 class="text-4xl text-center font-semibold mt-6 text-brand-azul">Nosso Portfólio</h2>
        <div class="my-4 grid grid-cols md:grid-cols-2 gap-6 ">
            <div class="grid grid-cols-2 gap-2">
                <img src="img/evento1.jpg" class="h-64 rounded-lg shadow-md object-cover">
                <img src="img/evento2.jpg" class="h-64 rounded-lg shadow-md object-cover">
                <img src="img/evento3.jpg" class="h-64 rounded-lg shadow-md object-cover">
                <img src="img/evento4.jpg" class="h-64 rounded-lg shadow-md object-cover">
            </div>
            <div>
               <h3 class="text-3xl text-center font-bold mb-4 text-brand-azul"> Bem-vindos,Transformamos Sonhos em Festas Inesquecíveis!</h3>

<p class="text-2xl">Na nossa empresa, acreditamos que cada celebração é única e merece ser marcada por momentos especiais. Somos especialistas em criar experiências memoráveis, cuidando de todos os detalhes, desde a concepção do tema até a execução perfeita do evento.

Nossa equipe dedicada oferece soluções completas para todos os tipos de festas: aniversários, casamentos, festas corporativas, formaturas, chás de bebê e muito mais. Com criatividade, paixão e atenção minuciosa aos detalhes, garantimos que cada evento seja personalizado de acordo com os desejos e estilo de nossos clientes.

De decorações sofisticadas a entretenimento personalizado, da escolha do buffet à iluminação e sonorização, cuidamos de tudo para que você possa aproveitar cada momento sem preocupações. Nosso objetivo é transformar ideias em experiências inesquecíveis, deixando uma marca de alegria e encantamento em cada celebração.</p>

<p class="text-2xl font-bold mb-4 text-brand-azul">Sua Festa, Nossa Paixão!</p>
            </div>
        </div>
    </section>





    <footer class="bg-blue-700 text-white text-center p-4 mt-8">
        <p>&copy; 2025 Eventos+. Todos os direitos reservados.</p>
    </footer>
</body>
</html>